@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #0a0f1a;
        --foreground: #f8fafc;
        /* brand-light */
        --border: #1e293b;
        /* brand-slate */
        --font-inter: 'Inter', sans-serif;
    }
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter);
}